<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Mon Premier projet"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.debug.ui.scrapbook_file_path" value="/Mon Premier projet/src/test.jpage"/>
<stringAttribute key="org.eclipse.jdt.debug.ui.scrapbook_launch" value="org.eclipse.jdt.debug.ui.scrapbook_launch"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Users/Yabaduga/eclipse/java-2018-122/eclipse/configuration/org.eclipse.osgi/214/0/.cp/snippetsupport.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;Mon Premier projet&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.jdt.internal.debug.ui.snippeteditor.ScrapbookMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" file:/C:/Users/Yabaduga/eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Mon+Premier+projet/org.eclipse.jdt.debug.ui/ file:/C:/Users/Yabaduga/eclipse-workspace/Mon+Premier+projet/bin/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Mon Premier projet"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.jdt.debug.ui.scrapbookSourcepathProvider"/>
</launchConfiguration>
